.jobicon {
  background-image: url(./jobicons.png);
  background-size: 700% 600%;
  /* background-repeat: no-repeat; */
  width: 1em;
  height: 1em;
}

.jobicon-00 { background-position:    0%    0%; }
.jobicon-01 { background-position: -100%    0%; }
.jobicon-02 { background-position: -200%    0%; }
.jobicon-03 { background-position: -300%    0%; }
.jobicon-04 { background-position: -400%    0%; }
.jobicon-05 { background-position: -500%    0%; }
.jobicon-06 { background-position:    0% -100%; }
.jobicon-07 { background-position: -100% -100%; }
.jobicon-08 { background-position: -200% -100%; }
.jobicon-09 { background-position: -300% -100%; }
.jobicon-10 { background-position: -400% -100%; }
.jobicon-11 { background-position: -500% -100%; }
.jobicon-12 { background-position:    0% -200%; }
.jobicon-13 { background-position: -100% -200%; }
.jobicon-14 { background-position: -200% -200%; }
.jobicon-15 { background-position: -300% -200%; }
.jobicon-16 { background-position: -400% -200%; }
.jobicon-17 { background-position: -500% -200%; }
.jobicon-18 { background-position:    0% -300%; }
.jobicon-19 { background-position: -100% -300%; }
.jobicon-20 { background-position: -200% -300%; }
.jobicon-21 { background-position: -300% -300%; }
.jobicon-22 { background-position: -400% -300%; }
.jobicon-23 { background-position: -500% -300%; }
.jobicon-24 { background-position:    0% -400%; }
.jobicon-25 { background-position: -100% -400%; }
.jobicon-26 { background-position: -200% -400%; }
.jobicon-27 { background-position: -300% -400%; }
.jobicon-28 { background-position: -400% -400%; }
.jobicon-29 { background-position: -500% -400%; }
.jobicon-30 { background-position:    0% -500%; }
.jobicon-31 { background-position: -100% -500%; }
.jobicon-32 { background-position: -200% -500%; }
.jobicon-33 { background-position: -300% -500%; }
.jobicon-34 { background-position: -400% -500%; }
.jobicon-35 { background-position: -500% -500%; }
.jobicon-36 { background-position: -600%    0%; }
.jobicon-37 { background-position: -600% -100%; }
.jobicon-38 { background-position: -600% -200%; }