
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');
@import '../../resources/classjob/classjob.css';
@import './header.css';
@import './settings.css';
@import './switch.css';
@import './spinner.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
  user-select: none;
  /* vertical-align: baseline; */
}
html, body {
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
}
.app {
  position: relative;
  height: 100vh;
}
.slider {
  width: 200vw;
  flex-grow: 1;
  transition: margin-left .1s ease-in-out;
}
.settings {
  margin-left: -100vw;
}

/* hide checkboxes */
input {
  display: none;
}
.hide {
  display: none !important;
}

/* basic flex-box */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.iconbutton {
  font-size: 1.2em;
  line-height: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.iconbutton:hover {
  background-color: rgba(100,100,100,0.4);
}
input:checked ~ label .iconbutton {
  background-color: rgba(255,165,100,0.4);
  color: orange;
}
input:disabled ~ label .iconbutton {
  background-color: transparent;
  color: grey;
}



.resize-handler {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0; 
  height: 0; 
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  
  border-top: 0.8rem solid #000000bb;
  transform: translate(50%, 0%) rotate(-45deg);
  
  z-index: 9;
}

.main-container {
  display: relative;
  width: 100vw;
  /* background-color: yellow; */
}

.skilldisplayer {
  position: relative;
  background-color: #000000bb;
}
.skilldisplayer .icon {
  /* width: 0; */
  position: absolute;
  display: flex;
  align-items: center;
  right: 100%;
  display: relative;
}
.skilldisplayer img:not(.fetching) {
  animation: icon-pulse 0.5s ease;
}

.auto-attack-window {
  height: 1em;
}
.player-actions-window {
  height: 3em;
}
.pet-actions-window {
  height: 2em;
}

.casting {
  background-color: #212121aa;
}
.interrupted {
  background-color: transparent;
  padding-right: 0;
  /* margin-right: 0; */
}
.interrupted img {
  filter: grayscale(0.2) blur(0.1em);
  opacity: 1;
}
.interrupted i.error-icon {
  position: absolute;
  left: 0;
  font-size: 1.8em;
  bottom: 0;
  color: red;
}
.mispositional {
  vertical-align: center;
  text-align: center;
}
.mispositional img {
  filter: grayscale(0.2) blur(0.1em);
}
.mispositional i.error-icon {
  position: absolute;
  font-size: 3em;
  color: red;
}


.player-actions-window img.gcd:not(.casting) {
  width: 3em;
}
.player-actions-window img.gcd.casting {
  width: 1.8em;
  margin-top: 1.2em;
}
.player-actions-window img.ability {
  width: 2em;
}
.pet-actions-window img {
  width: 2em;
}
.auto-attack-window img {
  width: 1em;
}

@keyframes icon-pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes icon-loading {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}