
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');
@import '../../resources/jobicons/jobicon.css';
@import './header.css';
@import './switch.css';
@import './spinner.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  user-select: none;
  /* vertical-align: baseline; */
}
html, body, #app {
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

/* hide checkboxes*/
input {
  display: none;
}

/* basic flex-box */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.iconbutton {
  font-size: 1.2em;
  line-height: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.iconbutton:hover {
  background-color: rgba(100,100,100,0.4);
}




#resize-handler {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0; 
  height: 0; 
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  
  border-top: 0.8rem solid grey;
  transform: translate(50%, 0%) rotate(-45deg);
  
  z-index: 9;
}

.main {
  /* height: 100%; */
  /* background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .5) 25%, rgba(255, 255, 255, .5) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, .5) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .5) 25%, rgba(255, 255, 255, .5) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, .5) 76%, transparent 77%, transparent);
  background-size: 50px 50px; */
  animation: bg infinite 10s linear;
  vertical-align: middle;
  
  /* background-color: transparent; */
  background-color: rgba(100,100,100,0.5);
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23eeeeee' fill-opacity='0.2'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 60px 60px;
  height: 100%;
}
.main-container {
  display: relative;
}

.skilldisplayer {
  flex-grow: 1;
}
.skilldisplayer .window {
  display: flex;
  flex-direction: row-reverse;
}
.skilldisplayer .icon {
  /* width: 0; */
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  display: relative;
  /* animation: icon-move infinite 10s linear; */
}
.skilldisplayer img:not(.fetching) {
  animation: icon-pulse 0.5s ease;
}

#auto-attack-window {
  height: 1em;
}
#player-actions-window {
  height: 3em;
}
#pet-actions-window {
  height: 2em;
}


.icon .tooltip {
  visibility: hidden;
  background-color: rgba(64,64,64,0.8);
  color: white;
  text-align: center;
  padding: 0.2em 0.5em;
  border-radius: 6px;
  transform: translate(0%, 105%);
  white-space: nowrap;
  /* width: 120px; */
  /* max-width: 5em; */
 
  position: absolute;
  z-index: 9;
}
.icon:hover .tooltip {
  visibility: visible;
}

.tooltip .additional {
  font-size: 0.7em;
}


.fetching {
  background-color: grey;
  color: white;
}
.fetching .fetching-icon {
  animation: icon-loading infinite 1s ease-in-out;
  backdrop-filter: blur(0.1em);
  font-size: 2em;
}
.casting {
  /* filter: grayscale(1); */
  background-color: black;
  /* width: 10em; */
  /* border-right: solid 10em yellow; */
  /* padding-right: 80vw;
  margin-right: -80vw; */
  
  opacity: 0.5;
}
.interrupted {
  background-color: transparent;
  padding-right: 0;
  /* margin-right: 0; */
}
.interrupted img {
  filter: grayscale(0.2) blur(0.1em);
  opacity: 1;
}
.interrupted i.error-icon {
  position: absolute;
  left: 0;
  font-size: 1.8em;
  bottom: 0;
  color: red;
}
.mispositional {
  vertical-align: center;
  text-align: center;
}
.mispositional img {
  filter: grayscale(0.2) blur(0.1em);
}
.mispositional i.error-icon {
  position: absolute;
  font-size: 3em;
  color: red;
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
}


#player-actions-window img.gcd:not(.casting) {
  width: 3em;
}
#player-actions-window img.gcd.casting {
  width: 1.8em;
  margin-top: 1.2em;
}
#player-actions-window img.ability {
  width: 2em;
}
#pet-actions-window img {
  width: 2em;
}
#auto-attack-window img {
  width: 1em;
}


@keyframes bg {
  from{ background-position-x: 100vw; }
  to{ background-position-x: 0; }
}

@keyframes icon-pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes casting-move {
}

@keyframes icon-loading {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}