/* https://tobiasahlin.com/spinkit/ */
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 3em;
  background-color: rgba(64,64,64,0.8);
  justify-content: center;
  align-items: center;
}

.spinner > div {
  width: 0.5em;
  height: 0.5em;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}