<div class="header-container pinned" id="header">
  <div class="content">
    <div class="duration-box">
      <span id="duration">00:00</span>
    </div>
    <div class="flex-column info-box">
      <div>
        <div class="flex-row title-box">
          <div id="classjob"></div>
          <div id="title">kagami</div>
        </div>
      </div>
      <div class="info">
        <span id="crit-dh">mirror your moves, better you move.</span>
        <span id="mispositional"></span>
        <span id="interrupted"></span>
        <span id="ghosted-pet-action"></span>
      </div>
    </div>
  </div>
  <div class="header-menu">
    <i class="material-icons iconbutton">menu</i>
    <nav class="flex-row header-menu-items">
      <div>
        <input type="checkbox" id="pin-header-button" checked>
        <label for="pin-header-button">
          <i class="material-icons iconbutton">push_pin</i>
        </label>
        <div class="tooltip">always show header</div>
      </div>
      <div>
        <i class="material-icons iconbutton" id="reset-encounter">timer_off</i>
        <div class="tooltip">Reset encounter</div>
      </div>
      <div>
        <input type="checkbox" id="settings-button">
        <label for="settings-button">
          <i class="material-icons iconbutton">settings</i>
        </label>
        <div class="tooltip">settings</div>
      </div>
    </nav>
  </div>
  <div class="header-hover" id="header-hover"></div>
</div>