<div class="header">
  <input type="checkbox" id="menu-trigger" class="menu-trigger" />
  <div class="header-container">
    <div class="content">
      <div class="duration-box">
        <span id="duration">00:00</span>
      </div>
      <div class="info-box">
        <h5 id="title">kagami</h5>
        <div class="flex-row">
          <span id="jobicon"></span>
          <span id="info">mirror your moves. better your moves.</span>
        </div>
      </div>
    </div>
    <label for="menu-trigger">
      <i class="fas fa-ellipsis-v iconbutton"></i>
      <span class="tooltip">더 보기</span>
    </label>
  </div>
  <nav class="menu">
    <div>
      <i class="fas fa-redo iconbutton"></i>
      <span class="tooltip">초기화</span>
    </div>
    <div>
      <i class="fas fa-dog iconbutton"></i>
      <span class="tooltip">펫 액션 표시</span>
    </div>
    <div>
      <i class="fas fa-chart-line iconbutton"></i>
      <div class="tooltip">DPS그래프 표시</div>
    </div>
    <div>
      <i class="fas fa-users iconbutton"></i>
      <span class="tooltip">파티원 DPS그래프</span>
    </div>
    <div>
      <i class="fas fa-chart-area iconbutton"></i>
      <span class="tooltip">RDPS그래프</span>
    </div>
    <div>
      <i class="fas fa-stream iconbutton"></i>
      <span class="tooltip">버프 표시</span>
    </div>
    <div>
      <i class="fas fa-cog iconbutton"></i>
      <span class="tooltip">설정</span>
    </div>
  </nav>
</div>