<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>kagami</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src="https://ngld.github.io/OverlayPlugin/assets/shared/common.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div class="flex-column app">
    <header>
      <%= require('html-loader!./header.ejs') %>
    </header>
    <div class="flex-row slider" id="slider">
      <%= require('html-loader!./main.ejs') %>
      <%= require('html-loader!./settings.ejs') %>
    </div>
  </div>
  <span class="resize-handler"></span>
</body>

</html>