<div class="flex-column main">
  <div class="main-container">
    <div id="grpah-player"></div>
    <div id="grpah-parties"></div>
    <div id="grpah-rdps"></div>
    <div class="skilldisplayer flex-column">
      <div class="window" id="auto-attack-window"></div>
      <div class="window" id="player-actions-window"></div>
      <div class="window" id="pet-actions-window"></div>
    </div>
  </div>
  <div id="buffs"></div>
</div>