<div class="main-container" id="main-container">
  <div id="skilldisplayer" class="skilldisplayer flex-column">
    <div class="auto-attack-window" id="auto-attack-window"></div>
    <div class="player-actions-window" id="player-actions-window"></div>
    <div class="pet-actions-window" id="pet-actions-window"></div>
  </div>
</div>